# Apotheon and Apotheon Arena master server override
#
# This file contains an alternative master server address to use instead of the hardcoded one.
# The first line without '#' will be used as the alternative address.
# For hosting your own master server see https://github.com/cybervand/ApothArena-MasterServer
#
50.19.227.23